	.clr{
		clear: both;
		height: 0px;
		width: 0px;
	}
	#container{
		width: 1002px;
		background: #EEE;
		margin: 0px auto;
	}
	#header{
		height: 128px;
		background: gray url(./images/top_bg.jpg);
	}
	#nav li{
		width: 90px;
		margin-right: 1px;
		float: left;
	}
	#nav a{
		font-size: 15px;
		font-family: '微软雅黑';
		color: #363636;
		display: block;
		height: 37px;
		width: 90px;
		text-align: center;
	}
	#nav a:hover{
		color:white; 
		background: url(./images/nav_on.gif);
	}
	#main{
		
	}
	#lside{
		height: 480px;
		width: 694px;
		border:1px solid gray;
		float: left;
		background
	}
	.subtitle{
		height: 50px;
		background: gray url(./images/index_main_top_bg.gif)
	}
	.subtitle img{
		margin: 5px 0 0 10px;
		float: left;
	}
	.subtitle h1{
		float: left;
		margin-left: 12px;
		font-size: 16px;
		font-family: 'Microsoft Yahei' ,SimHei , sans-serif;
	}
	.subtitle a{
		float: right;
		font-size: 12px;
		color: black;
	}
	.four{
		width: 326px;
		height: 200px;
		background: #EEE;
		float: left;
		margin: 10px;
		
	}
	.four img{
		float: left;
		margin-left: 10px;
		padding: 6px;
		background:#778899;
	}
	.four ul{
		float: left;
	}
	.four h2{
		font-size: 16px;
		font-family: 'Microsoft Yahei' ,SimHei , sans-serif;
		margin: 6px 0 6px 10px;
	}
	.four li{
		background: url(./images/service_intro_bg.gif);
		background-repeat: no-repeat;
		padding-left: 10px;
		height: 20px;
	}
	.four a{
		color: gray;
	}
	.four a:visited{
		color: gray;
	}
	#rside{
		width: 294px;
		float: right;
	}
	#art{
		background:#EEE;
		margin-top: 1px;
		padding-top: 10px;
	}
	#art li{
		
		padding: 0 0 0 30px;
	}
	#art a{
		display: block;
		height: 29px;
		padding:-left:30px;
		background: url(./images/article_head.gif);
		background-repeat: no-repeat;
	}
	#art a:hover{
		background: url(./images/artile_on_bg.gif);
	}
	#contact{
		height: 249px;
		margin-top: 1px;
		background:#EEE;
	}
	#footer{
		background:gray;
		height: 120px;
	}
